@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: 'Open Sans', sans-serif;
}

.dataform {
  width: 600px;
  margin: 16px auto;
  font-size: 16px;
}
.dataform-header,
.dataform p {
  margin-top: 0;
  margin-bottom: 0;
}
.dataform-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.dataform-container {
  background: #ccc;
  padding: 12px;
}
.dataform p {
  padding: 12px;
}

.dataform input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}
.dataform input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.dataform input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.dataform input[type="submit"]:focus {
  border-color: #05a;
}
